.App {
  text-align: center;
  margin-top: 5px;
}

.App-link {
  color: #61dafb;
}

.input-form-container {
  background-color: white;
  border: 2px solid #cccccc;
  box-sizing: border-box;
  border-radius: 6px;
  height: 180px;
  margin-bottom: 20px;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-input {
  border: none !important;
}

.tweet-btn {
  bottom: 35;
  margin-bottom: 20px;
}

.post-container {
  background: #343a40;
  border-radius: 6px;
  height: 100px !important;
  padding: 20px;
  margin-bottom: 15px;
}

.post-text {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
