.App {
  text-align: center;
  margin-top: 5px;
}

.App-link {
  color: #61dafb;
}

.input-form-container {
  background-color: white;
  border: 2px solid #cccccc;
  box-sizing: border-box;
  border-radius: 6px;
  height: 180px;
  margin-bottom: 20px;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-input {
  border: none !important;
  resize: none;
}

.form-input:focus {
  box-shadow: none !important;
}

.tweet-btn {
  bottom: 35;
}

.post-container {
  background: #343a40;
  border-radius: 6px;
  height: 100px !important;
  padding: 20px;
  margin-bottom: 15px;
}

.post-text {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.button-container {
  width: 18%;
  align-self: flex-end;
}

.errorDiv {
  font-size: 16px;
  line-height: 19px;
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  box-sizing: border-box;
  border-radius: 4px;
  height: 29px;
  width: 80%;
  display: inline-block;
  align-self: flex-start;
}

.input-error-btn-container {
  margin-bottom: 20px;
}
